IO_LOC "led[5]" N23;
IO_LOC "led[4]" N21;
IO_LOC "led[3]" M25;
IO_LOC "led[2]" L20;
IO_LOC "led[1]" R26;
IO_LOC "led[0]" J14;
IO_LOC "sys_clk" P16;
IO_LOC "sys_resetn" U4;

IO_PORT "led[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "sys_clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "sys_resetn" PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;



IO_LOC "tmds_d_p[0]" AB24,AC24;
IO_PORT "tmds_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" V24,W24;
IO_PORT "tmds_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" AA22,AA23;
IO_PORT "tmds_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p" Y22,Y23;
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;





//IO_LOC "tmds_d_p[0]" D19,C19;
//IO_PORT "tmds_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
//IO_LOC "tmds_d_p[1]" M15,L15;
//IO_PORT "tmds_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
//IO_LOC "tmds_d_p[2]" J25,J26;
//IO_PORT "tmds_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
//IO_LOC "tmds_clk_p" K20,J20;
//IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;